---

name: Python Packaging
on: push

jobs:
  install:
    needs: validate
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-10.15, ubuntu-latest]
        python-version: ['3.9']

    steps:
      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: git checkout
        uses: actions/checkout@v2
        with:
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
          submodules: true

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel==2.2.2

      - name: Build wheels
        run: python -m cibuildwheel --output-dir wheelhouse
        env:
          CIBW_BUILD: pp* cp36-* cp37-* cp38-* cp39-* cp310-*
          CIBW_SKIP: "*-win32 *-manylinux_i686"

      - name: Build sdist
        run: ./build-sdist.sh

      - name: List wheels
        run: ls -l ./wheelhouse

      - name: Upload
        if: github.ref == 'refs/heads/master'
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
        run: |
          pip install twine
          twine upload --verbose --skip-existing wheelhouse/*
