---

name: Python Packaging
on:
  workflow_run:
    workflows: ["Validate"]
    types:
      - completed

jobs:
  install:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-14, ubuntu-24.04, ubuntu-24.04-arm]
        python-version: ['3.12']

    steps:
      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: git checkout
        uses: actions/checkout@v4
        with:
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
          submodules: true

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel==3.0.0 setuptools==80.9.0

      - name: Build wheels
        run: cibuildwheel --config-file pyproject.toml --output-dir wheelhouse

      - name: Build sdist
        if: ${{ matrix.os == 'ubuntu-24.04' }}
        run: ./build-sdist.sh

      - name: List wheels
        run: ls -l ./wheelhouse

      - name: Upload
        if: github.ref == 'refs/heads/master'
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
        run: |
          pip install twine
          twine upload --verbose --skip-existing wheelhouse/*
