name: Pip

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master

jobs:
  build:
    name: Build with Pip
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-15-intel, macos-26]
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14", "3.14t"]

    steps:
    - uses: actions/checkout@v5

    - uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - name: Set min macOS version
      if: runner.os == 'macOS'
      run: |
        echo "MACOSX_DEPLOYMENT_TARGET=10.14" >> $GITHUB_ENV

    - name: Build and install
      run: |
        python -m pip install pytest
        pip install --verbose .

    - name: Test
      run: python -m pytest

    - name: Build and install with uv
      run: |
        python -m pip install uv
        python -m uv pip install --force-reinstall .
